* { /*el asterisco hace que se aplique a todo el body*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.main-image{
    background-image: url("forest.jpg");
    background-position: center bottom;
    background-size: cover; /*para que cubra todo*/
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh; /*que es?*/
    display: flex; /*todo se va para un lado?*/
    flex-direction: column;
    align-items: center; /*para alinear los items al centro*/
    justify-content: center; /*los elementos se ponen al medio de la pagina*/   
    padding: 0 1rem; /*que es el 1rem?*/
    text-align: center;
}

.main-image h1{
    font-size: 4rem; /*que es el rem?*/
    margin-bottom: 1rem;
}

.main-image p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.main-image .btn{
    background: none;
    color:#fff;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
/*para quitarle el color al link*/
a{
    text-decoration: none;
    color: #fff;
}
.main-image h1 .strike{
    text-decoration: line-through;
}